# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Unity Meta files
*.meta
Final/Temp/
Final/Library/
*.slns
*.dwlt
*.csproj
*.suo

Final/ProjectSettings/ProjectVersion.txt

Final/ProjectSettings/ProjectVersion.txt

Final/Final.sln

Final/Final.sln

Final/Assembly-CSharp.csproj

Final/Assembly-CSharp-firstpass.csproj

Final/Assembly-CSharp-Editor-firstpass.csproj
